@import './vendor.css';
@import '~react-nice-dates/build/style.css';
* {
  font-family: 'Raleway', sans-serif;
}

button:disabled {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  box-shadow: none;
  cursor: not-allowed;
}
button:disabled:hover{
  background-color: rgba(0, 0, 0, 0.5);
}